In [1]:
import pandas as pd
import numpy as np

In [2]:
def roc(close, n=12, fillna=False):
    """Rate of Change (ROC)

    The Rate-of-Change (ROC) indicator, which is also referred to as simply Momentum, is a pure momentum 
    oscillator that measures the percent change in price from one period to the next. The ROC calculation 
    compares the current price with the price “n” periods ago. The plot forms an oscillator that fluctuates 
    above and below the zero line as the Rate-of-Change moves from positive to negative. As a momentum 
    oscillator, ROC signals include centerline crossovers, divergences and overbought-oversold readings. 
    Divergences fail to foreshadow reversals more often than not, so this article will forgo a detailed 
    discussion on them. Even though centerline crossovers are prone to whipsaw, especially short-term, 
    these crossovers can be used to identify the overall trend. Identifying overbought or oversold extremes 
    comes naturally to the Rate-of-Change oscillator.

    https://school.stockcharts.com/doku.php?id=technical_indicators:rate_of_change_roc_and_momentum

    Args:
        close(pandas.Series): dataset 'Close' column.
        n(int): n periods.
        fillna(bool): if True, fill nan values.

    Returns:
        pandas.Series: New feature generated.

    """
    roc = ((close - close.shift(n)) / close.shift(n)) * 100
    if fillna:
        roc = roc.replace([np.inf, -np.inf], np.nan).fillna(0)
    return pd.Series(roc, name='roc')

In [3]:
close_data = [
    11045.27,
    11167.32,
    11008.61,
    11151.83,
    10926.77,
    10868.12,
    10520.32,
    10380.43,
    10785.14,
    10748.26,
    10896.91,
    10782.95,
    10620.16,
    10625.83,
    10510.95,
    10444.37,
    10068.01,
    10193.39,
    10066.57,
    10043.75
]

In [5]:
df = pd.DataFrame()
df['close'] = close_data

In [6]:
df

       close
0   11045.27
1   11167.32
2   11008.61
3   11151.83
4   10926.77
5   10868.12
6   10520.32
7   10380.43
8   10785.14
9   10748.26
10  10896.91
11  10782.95
12  10620.16
13  10625.83
14  10510.95
15  10444.37
16  10068.01
17  10193.39
18  10066.57
19  10043.75

In [7]:
roc(df['close'])

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12   -3.848797
13   -4.848880
14   -4.520643
15   -6.343892
16   -7.859230
17   -6.208341
18   -4.313082
19   -3.243411
Name: roc, dtype: float64